<main id="main" class="main">
<section>
    
    <div class="container col-md-6 align-items-center justify-contents-center">
        
        <form id="editProductDetailsForm" action="/admin/edit-product-details" method="post" enctype="multipart/form-data">
            <div>
                <div class="pagetitle">
                    <h1 class="my-4">Edit Product Details</h1>
                </div><!-- End Page Title -->
                <input type="text" name="productId" value="{{productData._id}}" hidden>
            <div class="mb-3">
                <label for="productName" class="form-label">Product Name</label>

                <input type="text" name="productName" class="form-control" id="editProductName" value="{{productData.productName}}" required>
            </div>
            <div class="mb-3">
                <label for="editProductCategory" class="form-label">Product Category</label>
                <input type="text" name="productCategory" class="form-control" id="editProductCategory" value="{{productData.productCategory}}" disabled>
            </div>
            <div class="mb-3">
                <label for="editProductPrice" class="form-label">Selling Price</label>
                <input type="number" name="productPrice" class="form-control" id="editProductPrice" value="{{productData.productPrice}}" required>
            </div>
            <div class="mb-3">
                <label for="editProductDescription" class="form-label">Product Description</label>
                <textarea name="productDescription" class="form-control" cols="30" rows="5" id="editProductDescription" required>
                    {{productData.productDescription}}
                </textarea>
            </div>
            {{!-- <div class="mb-3">
                <label for="productImage" class="form-label me-5">Current Image</label>
                <label for="" class="form-label ms-5"> New Image</label></br>
                <img src="/product-images/{{productData._id}}.jpg" alt="" style="height: 150px;width:150px;">
                <img src="" id="imageView" alt="" style="height: 150px; width:150px; margin-top: -4%;" class="ms-5"> </br>
                <label for="productImage" class="form-label">Choose New Image</label>
                <input type="file" name="productImage" class="form-control"  onchange="viewImage(event)" id="productImage">
            </div>
            </div> --}}

            <p>Current Product Photos</p>

            <div class="d-flex flex-row mt-3">
            <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2"  src="/productImages/{{productData.image1}}" alt=""><label class="ms-4">Image-1</label></div>
            <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2"  src="/productImages/{{productData.image2}}" alt=""><label class="ms-4">Image-3</label></div>
            <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2"  src="/productImages/{{productData.image3}}" alt=""><label class="ms-4">Image-2</label></div>
            <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2"  src="/productImages/{{productData.image4}}" alt=""><label class="ms-4">Image-4</label></div>
            </div>

            <p class="mt-4">Upload new product photos</p>
            
                <label for="editProductImage1">Image 1</label>
                <input type="file" name="productImage1"  onchange="viewImage(event,'editProductImage1')" id="editProductImage1" accept="image/png, image/webp, image/jpeg" size="" />
                <br/>
                <label for="editProductImage2">Image 2</label>
                <input type="file" name="productImage2"  onchange="viewImage(event,'editProductImage2')" id="editProductImage2" accept="image/png, image/webp, image/jpeg" size="" />
                <br/>
                <label for="editProductImage3">Image 3</label>
                <input type="file" name="productImage3"  onchange="viewImage(event,'editProductImage3')" id="editProductImage3" accept="image/png, image/webp, image/jpeg" size="" />
                <br/>
                <label for="editProductImage4">Image 4</label>
                <input type="file" name="productImage4"  onchange="viewImage(event,'editProductImage4')" id="editProductImage4" accept="image/png, image/webp, image/jpeg" size="" /> <!--"application/pdf"-->

                <div id="imageDisplay" class="d-flex flex-row mt-3">
                <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2" id="editProductImage1Show" src="" alt=""><label class="ms-4">Image-1</label></div>
                <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2" id="editProductImage2Show" src="" alt=""><label class="ms-4">Image-2</label></div>
                <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2" id="editProductImage3Show" src="" alt=""><label class="ms-4">Image-3</label></div>
                <div class="d-flex flex-column"><img style="width: 110px; height: 147.5px;" class="m-2" id="editProductImage4Show" src="" alt=""><label class="ms-4">Image-4</label></div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-success my-3 mb-5">Submit</button>
        </form>
        <button onclick="deleteSelectedProduct('{{productData._id}}')" class="btn btn-danger">Delete Product</button>
        
    </div>
</section>
</main>

<script>
    let viewImage = (event,id)=>{
      document.getElementById(id+'Show').src = URL.createObjectURL(event.target.files[0])
    }
</script>