<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
    
<main id="main" class="main">

    <div class="pagetitle">
      <h1 class="ms-4 mb-3">Add Product</h1>
    </div><!-- End Page Title -->
    
    
    <!-- cart items details-->
    <div class="mx-4 my-2 mb-5">
      <table id="productListTable">
        <thead>
        <tr>
          <th>Product Id</th>
          <th>Product Category</th>
          <th>Product Type</th>
          <th>Product Name</th>
          <th>Brand Name</th>
          <th>Color</th>
          <th>Size / Quantity</th>
          <th >Price</th>
          <th>Photos</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
          {{#each products}}
        <tr>
          <td style="font-size: .75em;">
            {{this._id}}
          </td>
          <td>
            {{this.productCategory}}
          </td>
          <td>
            {{this.productType}}
          </td>
          <td>
            {{this.productName}}
          </td>
          <td>
            {{this.productBrand}}
          </td>
          <td>
            {{this.productColor}}
          </td>
          <td>
            
            {{!-- <script>
                //if(topValue.innerHTML==true){
                  //document.getElementById('topSize').classList.add('item-display-true')
                //}else if(bottomValue.innerHTML==true){
                  //document.getElementById('bottomSize').classList.add('item-display-true')
                //}else if(topValue.innerHTML==false && bottomValue.innerHTML==false){
                  //document.getElementById('freeSize').classList.add('item-display-true')
                }
              </script> --}}
            <div id="topSize">
            S - {{this.productSizeSmall}}<br/>
            M - {{this.productSizeMedium}}<br/>
            L - {{this.productSizeLarge}}<br/>
            XL - {{this.productSizeXLarge}}<br/>
            XXL - {{this.productSizeXXLarge}}
            </div>
            <div id="bottomSize">
              32 - {{this.productSize32}}<br/>
              34 - {{this.productSize34}}<br/>
              36 - {{this.productSize36}}<br/>
              38 - {{this.productSize38}}<br/>
              40 - {{this.productSize40}}
            </div>
            <div id="freeSize">
              Free Size - {{this.productFreeSize}}
            </div>
    
          </td>
          <td> 
            <p>&#8377; {{this.productPrice}}</p>
          </td>
          <td>
            <img style="height: 75px; width: 50px;" class="py-1"  src="/productImages/{{this.image1}}" alt="">
            <img style="height: 75px; width: 50px;" class="py-1" src="/productImages/{{this.image2}}" alt="">
            <img style="height: 75px; width: 50px;" class="py-1" src="/productImages/{{this.image3}}" alt="">
            <img style="height: 75px; width: 50px;" class="py-1" src="/productImages/{{this.image4}}" alt="">
          </td>
          <td>
            <a href="/view-order-items/{{this._id}}" class="btn btn-warning my-3">Edit</a>
            <a href="/view-order-items/{{this._id}}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {{/each}}
        </tbody>
      </table>

    
      </div>
    </div>
  </main>

    <script>
      $(document).ready( function () {
      $('#productListTable').DataTable();
      } );

      let topSize = document.querySelector('#topSize')
      let bottomSize = document.querySelector('#bottomSize')
      let freeSize = document.querySelector('#freeSize')

      let topValue = document.querySelector('#topValue')
      let bottomValue = document.querySelector('#bottomValue')

      
    </script>