<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
  
  <main id="main" class="main">

    
    {{!-- <h2 class="text-center pt-4">Order History</h2> --}}
    
    <!-- cart items details-->
    <div class="small-container">
        <div class="pagetitle mb-4">
            <h1>All Users</h1>
        </div>

      <table id="orderListTable">
        <thead>
        <tr>
          <th>User Id</th>
          <th>Customer Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody>
                  {{#each users}}
        <tr>
          <td>
            User Id : {{this._id}}
          </td>
          <td>
            {{this.fullName}}
          </td>
          <td>
            {{this.userEmail}}
          </td>
          <td>
            {{this.userMobile}}
          </td>
          <td>
            {{#if this.isBlocked}}
            <span class="text-danger">Blocked</span>
            {{else}}
            <span class="text-success">Active</span>
            {{/if}}
          </td>
          <td>
            <a style=" font-weight: bold;" href="/admin/view-user-details/{{this._id}}" class="btn btn-warning">Full Details</a>
            {{#if this.isBlocked}}
            <button style=" font-weight: bold;" onclick="unBanSelectedUser('{{this._id}}')" class="btn btn-success mt-1">Activate User</button>
            {{else}}
            <button style=" font-weight: bold;" onclick="banSelectedUser('{{this._id}}')" class="btn btn-danger mt-1">Ban User</button>
            {{/if}}
          </td>
        </tr>
                  {{/each}}
        </tbody>
      </table>

    
      </div>
    </div>
  </main>

<script>
    $(document).ready( function () {
      $('#orderListTable').DataTable();
      } );
</script>