      <main id="main" class="main">
    
    <!-- cart items details-->
    <div class="small-container mb-5">
        <h3>Delivery Details</h3>

      <h6 class="py-2 " style="font-weight:300;">Order Id : {{orderDetails._id}}</h6>

        <button onclick="changeOrderStatus('{{orderDetails._id}}', 'shipped')" class="btn btn-success">Change Status To Shipped</button>
        <button onclick="changeOrderStatus('{{orderDetails._id}}', 'cancelled')" class="btn btn-danger">Change Status To Cancelled</button>

      <div style="border: solid; border-color: #088178;" class="d-flex flex-column my-4 p-3">
        <h5><span style="color: #088178;">Name Of The Customer : </span> {{orderDetails.deliveryDetails.name}}</h5>
        <h5><span style="color: #088178;">Phone No. : </span> {{orderDetails.deliveryDetails.mobileNumber}}</h5>
        <h5><span style="color: #088178;">Delivery Address : </span> {{orderDetails.deliveryDetails.address}}</h5>
        <h5><span style="color: #088178;">Payment Method : </span> {{orderDetails.paymentMethod}}</h5>
        <h5><span style="color: #088178;">Order Date & Time : </span> {{orderDetails.date}}</h5>
        <h5><span style="color: #088178;">Order Status : </span> <span id="orderStatusId">{{orderDetails.orderStatus}}</span></h5>
      </div>

      <table>
        <tr>
          <th>Product</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>

          {{#each products}}

        <tr>
          <td>
            <div class="cart-info">
              <a href="/product-details/{{this.item}}"><img src="/productImages/{{this.product.image1}}" style="width: 110px; height: 147.5px;" alt="Tshirt" /></a>
              <div>
                <p>{{this.product.productName}}</p>
                <small>Unit Price: &#8377;{{this.product.productPrice}}</small>
                <br />
              </div>
            </div>
          </td>
          <td>
            {{this.size}}
          </td>
          <td>
            <input type="number" value="{{this.quantity}}" disabled />
          </td>
          <td>&#8377;{{this.subTotal}}</td>
        </tr>

          {{/each}}
        
      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Total Price Before Tax & Discount</td>
            <td>&#8377 <span id="sumTotalId">{{orderDetails.totalBeforeDiscount}}</span></td>
          </tr>
          <tr>
            <td>Discount Amount  (<span id="discPercentage">{{orderDetails.discountPercent}}</span>)</td>
            <td>&#8377 <span id="discAmountId">{{orderDetails.discountAmount}}</span></td>
          </tr>
          <tr>
            <td>Discount Code </td>
            <td>{{orderDetails.discountCode}}</td>
          </tr>
          <tr>
            <td>Price After Discount</td>
            <td>&#8377 <span id="amtAfterDiscount">{{orderDetails.totalBeforeTax}}</span></td>
          </tr>
          <tr>
            <td>Tax (GST @ 12%)</td>
            <td>&#8377 <span id="taxAmountId">{{orderDetails.taxAmount}}</span></td>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td>&#8377 <span id="grandTotalId">{{orderDetails.grandTotalAmount}}</span></td>
          </tr>
        </table>
      </div>
    </div>

    </main>