    {{!-- Item removed from cart popup --}}
    <div class="alert-removed-from-cart">
      <div class="removed-from-cart-alert-card">
        <lottie-player class="align-items-center" src="/lottieFiles/greentick.json" id="lottieRemovedFromCart"  background="transparent"  speed="1.6" style="width: 200px; height: 200px;"></lottie-player>
        <h3 class="text-white text-center">Product<br/>Removed From Cart</h3>
      </div>
    </div>
    {{!-- End of the popup --}}
    
    
    <!-- cart items details-->
    <div class="small-container">
      <table>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Size</th>
          <th>Quantity</th>
          
        </tr>

        {{#each products}}

        <tr>
          <td>
            {{inc @index}}
          </td>
          <td>
            <div class="cart-info">
              <a href="/product-details/{{this.item}}"><img style="width: 110px; height: 147.5px;" src="/productImages/{{this.product.image1}}" alt="Tshirt" /></a>
              <div>
                <p>{{this.product.productName}}</p>
                <small>Price : &#8377 {{this.product.productPrice}}</small>
                <br />
                <a><button style="border: none;" class="bg-danger text-white px-2 py-1 mt-2 rounded" onclick="removeCartProduct('{{this._id}}', '{{this.time}}', '{{this.product.productName}}')">Remove</button></a>
              </div>
            </div>
          </td>
          <td>
            {{this.size}}
          </td>
          <td>
            <button class="btn-danger px-2 rounded" onclick="changeProQuantity('{{../userId}}','{{this._id}}','{{this.item}}','{{this.time}}','{{this.size}}',-1)">-</button>
            <input id='{{this.time}}' type="number" value="{{this.quantity}}" disabled />
            <button class="btn-success px-2 rounded" onclick="changeProQuantity('{{../userId}}','{{this._id}}','{{this.item}}','{{this.time}}','{{this.size}}',1)">+</button>
          </td>
          
        </tr>
         
        {{/each}}

      </table>

      <div class="total-price">
        <table>
          <tr>
            <td>Sum Total</td>
            <td>&#8377 <span id="sumTotalId">{{total.sumTotal}}</span></td>
          </tr>
          <tr>
            <td>Tax (GST @ 12%)</td>
            <td>&#8377 <span id="taxAmountId">{{total.taxAmount}}</span></td>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td>&#8377 <span id="grandTotalId">{{total.grandTotal}}</span></td>
          </tr>
        </table>
      </div>
      <a href="/place-order" style="width: 50%; margin-left: 25%;" class="btn btn-success text-center my-4">Check Out</a>
    </div>

