<div class="container pb-5">
  <div class="py-5 text-center">
    
    <h2>Enter Delivery Details</h2>
    </div>
    <div class="payment-details-flex">
      <div class="col-12 col-sm-12 col-md-8">
        <h4 class="mb-3">BILLING ADDRESS</h4>
        {{!-- <form method="post" id="checkout-form" action=""> --}}

          <div class="mb-3">
            {{!-- <input type="text" id="userId" value="{{userId}}" hidden /> --}}
            <input type="text" id="userFullNameForPayment" value="{{userFullName}}" hidden />
            <input type="text" id="userEmailIdForPayment" value="{{userEmail}}" hidden />
            <input type="text" id="userMobileNoForPayment" value="{{userMobile}}" hidden />

            <label for="orderName">Name</label>
            <input type="text" class="form-control" name="orderName" onblur="validateName()" id="orderName" placeholder="Your Full Name" />
              <div class="mb-1" style="color: red;" id="orderNameErr"></div>
            <label class="pt-2" for="address">Address</label>
            <input type="text" class="form-control" name="address" onkeyup="validateAddress()" id="address" placeholder="Complete Address Including Landmark"/>
              <div class="mb-1" style="color: red;" id="orderAddressErr"></div>
            <label class="pt-2" for="pincode">Pincode</label>
            <input type="text" class="form-control" name="pincode" onblur="validatePincode()" id="pincode" placeholder="40XXXX" maxlength="6"/>
              <div class="mb-1" style="color: red;" id="orderPincodeErr"></div>
            <label class="pt-2" style=" display: block;" for="mobileNo">Mobile No.</label>
            <input style="min-width: 50px; max-width: 15%; display: inline-block;" type="num" class="form-control" disabled placeholder="+91" />
            <input style="max-width: 82%; display: inline-block;" type="tel" class="form-control ms-1" name="mobile" onblur="validateMobile()" id="mobileNo" placeholder="XXXXXXXXXX" maxlength="10"/>
              <div class="mb-1" style="color: red;" id="orderMobileErr"></div>

          </div>
      </div>
      <div class="col-md-4 ms-5 mt-4">
        <div class="custom-control custom-radio mt-2">
            <h4 class="mb-3">PAYMENT METHOD</h4>
            <input id="codPayment" value="COD" name="paymentMethod" type="radio" class="custom-control-input" >
            <label class="custom-control-label" for="codPayment">Cash On Delivery</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input id="onlinePayment" value="ONLINE" name="paymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="onlinePayment">Online Payment</label>
          </div>
          <br/>
          <div>
            <h4>SAVED ADDRESS</h4>

          {{#if userSavedAddress.status}}

            <input type="checkbox" name="" id="selectSavedAddress" class="mt-3">
            <label class="text-muted" for="selectSavedAddress">
              Select Saved Address Details For Delivery.
            </label>
                <p style="width: 300px; margin-top: 20px; border: solid 3px;" class="p-2">
                  {{userSavedAddress.value}}
                </p>

          {{else}}

              <p style="width: 300px; margin-top: 20px; border: solid 3px;" class="p-2">
                No user address found.
              </p>

          {{/if}}

          </div>
      </div>
    </div>
    
<br>
        {{!-- <div>

          <div class="custom-control custom-radio mt-2">
            <h4 class="mb-3">PAYMENT METHOD</h4>
            <input id="cod" value="COD" name="paymentMethod" type="radio" class="custom-control-input" >
            <label class="custom-control-label" for="cod">Cash On Delivery</label>
          </div>
          <div class="custom-control custom-radio mb-2">
            <input id="online-payment" value="ONLINE" name="paymentMethod" type="radio" class="custom-control-input">
            <label class="custom-control-label" for="online-payment">Online Payment</label>
          </div>
          <br/>

        </div> --}}

        <p style="display: inline-block;">Apply Coupon: </p>
        <input type="text" oninput="this.value = this.value.toUpperCase()" class="px-2" id="discountCoupon" name="coupon" value="" maxlength="8">
        <button style="border: none; color: black !important;" class="bg-warning text-white ms-2 rounded px-2 py-1" onclick="applyCouponDiscount('{{userId}}')">Submit</button>
          <br>
        <a style="text-decoration: none; color: blueviolet;" href="/available-offers">Explore available coupons</a>

        <p class="text-danger my-1" id="couponApplyErr"></p>
        <p style="color: rgb(0, 209, 0);" class="my-1" id="couponApplySuccess"></p>
        <br>
        
      <div class="total-price total-price-start mt-4">
        <table>
          <tr>
            <td>Total Price</td>
            <td>&#8377 <span id="sumTotalId">{{orderTotal.sumTotalBeforeDisc}}</span></td>
          </tr>
          <tr>
            <td>Discount Amount (<span id="discPercentage">0</span> %)</td>
            <td>&#8377 <span id="discAmountId">{{orderTotal.discountAmt}}</span></td>
          </tr>
          <tr>
            <td>Price After Discount</td>
            <td>&#8377 <span id="amtAfterDiscount">{{orderTotal.sumTotalAfterDiscount}}</span></td>
          </tr>
          <tr>
            <td>Tax (GST @ 12%)</td>
            <td>&#8377 <span id="taxAmountId">{{orderTotal.taxAmt}}</span></td>
          </tr>
          <tr>
            <td>Grand Total</td>
            <td>&#8377 <span id="grandTotalId">{{orderTotal.grandTotal}}</span></td>
          </tr>
        </table>
      </div>

        <button style="width: 66%;" class="btn btn-success mt-5 mb-5" id="order-button" onclick="checkForErrorsAndPlaceOrder('{{userId}}')">Place Order</button>
        <p style="margin-top: -35px;" class="text-danger" id="placeOrderError"></p>
        {{!-- </form> --}}
            
          </div>
        </div>
        </div>

<script>
  let addressValue = document.getElementById('userSavedAddress')
  let checkbox = document.getElementById('selectSavedAddress');
  let addressLine1 = document.getElementById('orderName')
  let addressLine2 = document.getElementById('address')
  let addressLine3 = document.getElementById('pincode')
  let addressLine4 = document.getElementById('mobileNo')
  let addressLine1Err = document.getElementById('orderNameErr')
  let addressLine2Err = document.getElementById('orderAddressErr')
  let addressLine3Err = document.getElementById('orderPincodeErr')
  let addressLine4Err = document.getElementById('orderMobileErr')
  let placeOrderError = document.getElementById('placeOrderError')

  checkbox.addEventListener('click',()=>{
    if(checkbox.checked){
      addressLine1.disabled = true;
      addressLine2.disabled = true;
      addressLine3.disabled = true;
      addressLine4.disabled = true;
      addressLine1.value = null;
      addressLine2.value = null;
      addressLine3.value = null;
      addressLine4.value = null;
      addressLine1Err.innerHTML = null;
      addressLine2Err.innerHTML = null;
      addressLine3Err.innerHTML = null;
      addressLine4Err.innerHTML = null;
      placeOrderError.innerHTML = null;
      
    }else {
      addressLine1.disabled = false
      addressLine2.disabled = false
      addressLine3.disabled = false
      addressLine4.disabled = false
    }
  })
</script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
