{{!-- Item added to cart popup --}}
    <div class="alert-added-to-cart">
      <div class="cart-alert-card">
        <lottie-player class="align-items-center" src="/lottieFiles/greentick.json" id="lottieAddToCart"  background="transparent"  speed=".9" style="width: 200px; height: 200px;"></lottie-player>
        <h3 class="text-warning text-center">Item Added To Cart<br/>Successfully!</h3>
      </div>
    </div>


{{!-- Left Part --}}

<section id="product1" class=" d-flex">
    <div style=" position:fixed; z-index: 9; width:18%;">
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    FILTERS
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body ">
                    <input style="width: 10px;" type="radio" name="category" id="men" value="men">
                    <label style="font-size: 14px;" for="men">MEN</label><br>
                    <input style="width: 10px;" type="radio" name="category" id="women" value="women">
                    <label style="font-size: 14px;" for="women">WOMEN</label><br>
                    <input style="width: 10px;" type="radio" name="category" id="kids" value="kids">
                    <label style="font-size: 14px;" for="kids">KIDS</label><br>
                    <input style="width: 10px;" type="radio" name="category" id="accessories" value="accessories">
                    <label style="font-size: 14px;" for="accessories">ACCESSORIES</label><br>
                    <input style="width: 10px;" type="radio" name="category" id="living" value="living">
                    <label style="font-size: 14px;" for="living">LIVING</label>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Colour
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <input style="width: 10px;" type="checkbox" name="color" id="cblack" value="black">
                    <label style="font-size: 14px;" for="cblack">BLACK</label>
                    <canvas id="cblack" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: black;"></canvas>
                    <span>|</span>
                    <input style="width: 10px;" type="checkbox" name="color" id="cwhite" value="white">
                    <label style="font-size: 14px;" for="cwhite">WHITE</label>
                    <canvas id="cwhite" style="width: 12px; height: 12px; border-radius: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: white;"></canvas>
                     <br>
                    <input style="width: 10px;" type="checkbox" name="color" id="cgreen" value="green">
                    <label style="font-size: 14px;" for="cgreen">GREEN</label>
                    <canvas id="cgreen" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: green;"></canvas>
                    <span>|</span>
                    <input style="width: 10px;" type="checkbox" name="color" id="cyellow" value="yellow">
                    <label style="font-size: 14px;" for="cyellow">YELLOW</label>
                    <canvas id="cyellow" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: yellow;"></canvas>
                     <br>
                    <input style="width: 10px;" type="checkbox" name="color" id="corange" value="orange">
                    <label style="font-size: 14px;" for="corange">ORANGE</label>
                    <canvas id="corange" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: orange;"></canvas>
                    <span>|</span>
                    <input style="width: 10px;" type="checkbox" name="color" id="cred" value="red">
                    <label style="font-size: 14px;" for="cred">RED</label>
                    <canvas id="cred" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: red;"></canvas>
                     <br>
                    <input style="width: 10px;" type="checkbox" name="color" id="cblue" value="blue">
                    <label style="font-size: 14px;" for="cblue">BLUE</label>
                    <canvas id="cblue" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: blue;"></canvas>
                    <span>|</span>
                    <input style="width: 10px;" type="checkbox" name="color" id="cpink" value="pink">
                    <label style="font-size: 14px;" for="cpink">PINK</label>
                    <canvas id="cpink" style="width: 12px; height: 12px; border-radius: 1px; border-width: 1px; border: solid; border-color: rgb(216, 216, 216); background-color: pink;"></canvas>
                     <br>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Size
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <input style="width: 10px;" type="checkbox" name="size" id="small" value="small">
                    <label style="font-size: 14px;" for="small">S</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="medium" value="medium">
                    <label style="font-size: 14px;" for="medium">M</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="large" value="large">
                    <label style="font-size: 14px;" for="large">L</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="xlarge" value="xlarge">
                    <label style="font-size: 14px;" for="xlarge">XL</label>|<br>
                    <input style="width: 10px;" type="checkbox" name="size" id="xxlarge" value="xxlarge">
                    <label style="font-size: 14px;" for="xxlarge">XXL</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="32" value="32">
                    <label style="font-size: 14px;" for="32">32</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="34" value="34">
                    <label style="font-size: 14px;" for="34">34</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="36" value="36">
                    <label style="font-size: 14px;" for="36">36</label>|<br>
                    <input style="width: 10px;" type="checkbox" name="size" id="38" value="38">
                    <label style="font-size: 14px;" for="38">38</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="40" value="40">
                    <label style="font-size: 14px;" for="40">40</label>|
                    <input style="width: 10px;" type="checkbox" name="size" id="freestyle" value="freestyle">
                    <label style="font-size: 14px;" for="freestyle">freestyle</label>
                    
                </div>
                </div>
            </div>
            </div>
    </div>

{{!-- Right Part --}}

        <div style="position: relative; margin-left: 20%; width: 80%;">
            <div class="pro-container">
            {{#each allProducts}}
            <div class="pro" style="padding-bottom: 70px;">
                <a class="product-card-link" href="/product-details/{{this._id}}">
                  <img src="/productImages/{{this.image1}}" alt="">
                </a>
                <div class="des">
                    <a style="text-decoration: none;" class="product-card-link" href="/product-details/{{this._id}}">
                      <span>{{this.productBrand}}</span>
                      <h5>{{this.productName}}</h5>
                    </a>
                    {{!-- <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div> --}}
                    <div class="d-flex flex-row" style="position: absolute; bottom: 30px; ">
                    <h4>&#8377; {{this.productPrice}}</h4>
                    <button style="border: none; background-color: white; margin-left: 7em; padding-bottom: 10px; height: 20px;" onclick="addToWishlist('{{this._id}}')" id="iconInsideProCardLink" class="shopping-icon"><i class="fa-solid fa-heart" id="iconInsideProCard"></i></button>
                    <button style="border: none; background-color: white; margin-left: 2em; padding-bottom: 10px; height: 20px;" onclick="addToCart('{{this._id}}')" id="iconInsideProCardLink" class="shopping-icon" ><i class=" fa-sharp fa-solid fa-cart-shopping" id="iconInsideProCard"></i></button>
                    </div>
                </div>
            </div>
            {{/each}}
            </div>
        </div>
</section>