   <!-- wishlist details-->
    <div class="small-container mb-5">
            <h2 class="text-center mb-4">My Wishlist</h2>
      <table>
        <tr>
          <th>#</th>
          <th>Product</th>
          <th>Brand</th>
          <th>Name</th>
          <th class="text-center">Size</th>
          <th style="width: 90px;" class="text-center">Price</th>
          <th style="width: 150px;" class="text-center">Options</th>
        </tr>

        {{#each products}}

        <tr>
          <td>
            {{inc @index}}
          </td>
          <td>
            <a href="/product-details/{{this.item}}"><img style="width: 110px; height: 147.5px;" src="/productImages/{{this.product.image1}}" alt=""></a>
          </td>
          <td>
            <small>{{this.product.productBrand}}</small>
          </td>
          <td>
            {{this.product.productName}}
          </td>
          <td class="text-center">
            {{this.size}}
          </td>
          <td class="text-center"> 
            &#8377; {{this.product.productPrice}}
          </td>
          <td class="text-center">
            <button onclick="moveToCartFromWishlist('{{this._id}}','{{this.size}}','{{this.item}}','{{this.time}}')" class="btn btn-success">Move To Cart</button>
            <button onclick="removeProductFromCart('{{this._id}}', '{{this.time}}')" style="padding-left: 30px; padding-right: 30px;" class="btn btn-warning mt-2">Remove</button>
          </td>
        </tr>

        {{/each}}
        
      </table>

    
      </div>
    </div>
    

    